:root {
  --heading-font-family: "Rochester", cursive;
  --second-font-family: "Rosarivo", cursive;
  --third-font-family: "Open Sans", sans-serif;
}
body {
  background: #030413;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  color: white;
}
.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  max-width: 100%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/castle.jpeg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 1;
  font-size: 104px;
  margin: 18px 0;
}

header h2 {
  font-family: var(--second-font-family);
  margin-top: 70px;
  font-size: 34px;
  line-height: 1.5;
}
header h3 {
  font-family: var(--third-font-family);
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  padding: 16px 32px;
  margin-top: 60px;
  text-align: center;
  display: inline-block;
  letter-spacing: 5px;
  text-decoration: none;
  text-transform: uppercase;
  background: #15151593;
  border-radius: 4px;
}
.img-responsive {
  max-width: 100%;
}

main h2 {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 20px;
  letter-spacing: 5px;
  color: white;
  opacity: 0.6;
  text-transform: uppercase;
}

main h3 {
  font-size: 40px;
  line-height: 1.5;
  color: white;
  font-family: var(--second-font-family);
  margin: 0;
}

main p {
  font-style: normal;
  font-size: 18px;
  line-height: 1.5;
  color: white;
  font-family: var(--third-font-family);
  opacity: 0.7;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/view.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  color: white;
  font-family: var(--third-font-family);
}
footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  margin-right: 20px;
  line-height: 24px;
}
footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 900px) {
  header {
    padding: 70px 0;
    background-size: cover;
  }

  header h1 {
    font-size: 48px;
    margin-top: 50px;
  }

  header h2 {
    font-size: 18px;
    margin-top: 90px;
  }

  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  main h3 {
    font-size: 30px;
  }
  section {
    padding: 30px;
  }
  footer {
    background: #030413;
    padding: 0;
  }
}
